.expo
dist
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
node_modules

# macOS
.DS_Store

# Expo
.expo
web-build/
expo-env.d.ts

# api keys for android
android/app/src/main/res/values/api-keys.xml
